body {
  background: #233047;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.time-icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.day-border {
  border-bottom: 3px solid #87ceeb;
}

.night-border {
  border-bottom: 3px solid #166484;
}

.btn-group {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  
}

.btn {
  color: #f8f9fa;
  margin-top: 16px;
}

.btn:focus{
  background-color: #0562c7;
}



/* 
.btn-group {
  display: flex;
  margin: 0 10px;
}

.btn-group>input[type="radio"] {
  display: none;
}

.button-check:checked {
  color: #000000;
} */